/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 3rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.pagination-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}

.pagination-wrapper a {
    color: #007BFF;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #007BFF;
    margin: 0 5px;
    border-radius: 4px;
}

.pagination-wrapper a:hover {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

.pagination-wrapper .active {
    background-color: #007BFF;
    color: white;
}

.pagination-wrapper [disabled]:hover{
    background-color: grey;
    cursor : not-allowed;
    border : none;
}

.page-numbers-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}


.card-container {
    display: flex;
    flex:25%;
}

 /* .card {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 20px 0px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
    max-width: 18rem; 
}  */



h3 {
    margin-top: 10px;
    font-size: 18px;
    text-transform: capitalize;
}

h1 {
    text-align: center;
    margin: 2rem;
}

p {
    font-size: 14px;
}

.page-numbers {
    margin-top: 20px;
    font-size: 16px;
}
